<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Ecommerce</title>    

    <!-- ================================ header ========================================================= -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- Version Tech CSS for this template -->
    <link href="css/TopHeader.css" rel="stylesheet"> 
    <link rel="stylesheet" href="css/search1.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"> 
    
    <!-- ================================ footer ========================================================= -->
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/styleFooter.css">
   
    <!-- ================================= contant ====================================== -->
        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" href="css/style_register.css">
        <style>
            .red{
                background-color: #f4511e !important;
                display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px !important;
            }
        </style>
</head>

<body>
        <!-- ================= header ============================ -->
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                   
                    <!-- ปุ่มย่อ -->
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- กด logo icon = รูปไอคอน -->
                    <a class="navbar-brand" href="home.html"><img src="images/logo.png" alt="" width="85px"></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav mr-auto">
                            
                        <div class="search-box">
                            <input type="text" placeholder="Type to search..">
                            <div class="search-icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cancel-icon">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="search-data">
                            </div>
                        </div>

                            <li class="nav-item dropdown">
                                <!-- {% if request.user.is_authenticated and request.user.first_name %} -->
                                  <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown">
                                    <!-- Welcome, {{ request.user.first_name }} -->
                                    <i class="fas fa-user circle"></i>
                                  </a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="orderHistory.html">ประวัติการสั่งซื้อ</a>
                                  </div>
                                </li>
                        

                            <li class="nav-item">
                                <a class="nav-link" id="image-cart" href="cartDetails.html"><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </li>

                            <li class="nav-item">
                                <!-- ลิ้งค์ไปอีกเว็บ -->
                                <a class="nav-link text-light" href="home.html">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a  class="nav-link text-light dropdown-toggle"
                                href="" data-toggle="dropdown">Menu</a>
                                <ul class="dropdown-menu">
                                  <li><a href="menu.html" class="dropdown-item">เมนูแนะนำ</a></li>
                                  <li><a href="menu2.html" class="dropdown-item">สเต็กเนื้อ</a></li>
                                  <li><a href="menu3.html" class="dropdown-item">สเต็กไก่</a></li>
                                  <li><a href="menu4.html" class="dropdown-item">สเต็กหมู</a></li>
                                  <li><a href="menu5.html" class="dropdown-item">สเต็กปลา</a></li>
                                  <li><a href="menu6.html" class="dropdown-item">เมนูทานเล่น</a></li>
                                  <li><a href="menu7.html" class="dropdown-item">ไอศกรีม</a></li>
                                  <li><a href="menu8.html" class="dropdown-item">เครื่องดื่ม</a></li>
                                </ul>
                            </li>

                              <!-- {% else %} -->
                              <li class="nav-item">
                                <a class="nav-link text-light" href="register.html">register<i class="fas fa-user-plus"></i>
                                </a>
                              </li>
                      
                              <li class="nav-item">
                                <a class="nav-link text-light" href="login.html">login<i class="fas fa-sign-in-alt"></i>
                                </a>
                              </li>

                              
                            <li class="nav-item">
                              <a class="nav-link text-light" href="{% url 'signOut' %}">logout<i class="fas fa-sign-out-alt"></i>
                              </a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
    </div>

        <!-- ================= เนื้อหา ============================ -->
     
        <div class = "container">
          {% block content %}
          <section>
              <div class="row">
                  <!--Middle Part Start-->
                  <div id="content" class="col-sm-12">
                      <h2 class="title">Shopping Cart</h2>
                      <div class="table-responsive form-group">
                          <table class="table table-bordered">
                              <thead>
                                  <tr>
                                      <td class="text-center">Image</td>
                                      <td class="text-left">Product Name</td>
                                      <td class="text-left">Model</td>
                                      <td class="text-left">Quantity</td>
                                      <td class="text-right">Unit Price</td>
                                      <td class="text-right">Total</td>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td class="text-center"><a href="product.html"><img width="70px"
                                                  src="image/catalog/demo/product/funiture/8.jpg"
                                                  alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop"
                                                  class="img-thumbnail" /></a></td>
                                      <td class="text-left"><a href="product.html">Emasa rumas gacem</a><br />
                                      </td>
                                      <td class="text-left">Pt 001</td>
                                      <td class="text-left" width="200px">
                                          <div class="input-group btn-block quantity">
                                              <input type="text" name="quantity" value="1" size="1"
                                                  class="form-control" />
                                              <span class="input-group-btn">
                                                  <!-- <button type="submit" data-toggle="tooltip" title="Update"
                                                      class="btn btn-primary"><i class="fa fa-clone"></i></button> -->
                                                      <button type="button" data-toggle="tooltip" title="Remove"
                                                      class="red " onClick=""><i
                                                          class="fa fa-times-circle"></i></button>
                                              </span></div>
                                      </td>
                                      <td class="text-right">$120.00</td>
                                      <td class="text-right">$120.00</td>
                                  </tr>
                                  <tr>
                                      <td class="text-center"><a href="product.html"><img width="70px"
                                                  src="image/catalog/demo/product/funiture/10.jpg"
                                                  alt="Xitefun Causal Wear Fancy Shoes"
                                                  title="Xitefun Causal Wear Fancy Shoes" class="img-thumbnail" /></a>
                                      </td>
                                      <td class="text-left"><a href="product.html">Comas samer rumas</a></td>
                                      <td class="text-left">Pt 002</td>
                                      <td class="text-left" width="200px">
                                          <div class="input-group btn-block quantity">
                                              <input type="text" name="quantity" value="1" size="1"
                                                  class="form-control" />
                                              <span class="input-group-btn">
                                                  <!-- <button type="submit" data-toggle="tooltip" title="Update"
                                                      class="btn btn-primary"><i class="fa fa-clone"></i> </i> </button> -->
                                                          <button type="button" data-toggle="tooltip" title="Remove"
                                                          class="red" onClick=""><i
                                                              class="fa fa-times-circle"></i></button>
                                              </span></div>
                                      </td>
                                      <td class="text-right">$150.00</td>
                                      <td class="text-right">$150.00</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="row">
                          <div class="col-sm-4 col-sm-offset-8">
                              <table class="table table-bordered">
                                  <tbody>
                                      <tr>
                                          <td class="text-right">
                                              <strong>Sub-Total:</strong>
                                          </td>
  
                                          <td class="text-right">$168.71</td>
                                      </tr>
  
                                      <tr>
                                          <td class="text-right">
                                              <strong>Total:</strong>
                                          </td>
                                          <td class="text-right">$213.70</td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
  
                      <div class="buttons">
                          <!-- <div class="pull-left"><a href="index.html" class="btn btn-primary">Continue Shopping</a></div> -->
                          <div class="pull-right"><a href="checkout.html" >  <form class="" action="" method="POST">
                              {% csrf_token %}
                              <script src="https://checkout.stripe.com/checkout.js"
                              class="stripe-button"
                              data-key="{{ data_key }}"
                              data-amount="{{ stripe_total }}"
                              data-name="Rock with U"
                              data-description="{{ description }}"
                              data-locale="thailand"
                              data-currency="thb"
                              data-shipping-address="true"
                              data-billing-address="true"
                              data-zip-code="true">
                              </script>
                          </form></a></div>
                      </div>
                  </div>
                  <!--Middle Part End -->
  
              </div>
          </section>      
          {% endblock %}
      </div>
      
    

    <!-- ================= footer ============================ -->
    
    <footer class="footer-32892 pb-0">
        <div class="site-section">
          <div class="container">
  
            
            <div class="row">
  
              <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3>Contract Us</h3>
                <ul class="list-unstyled quick-info mb-4">
                  <li ><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span>Phine No. : 03x-xxx-xx17</a></li>
                  <li ><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span>line : @RockWithU</a></li>
                </ul>
              </div>
      
  
  
              <div class="col-md mb-4 mb-md-0">
                <h3>Map</h3>
                <div class="">
                  <div class="Map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.820486948721!2d100.77404805088749!3d13.729315665126563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ef572c9e67161d5!2zMTPCsDQzJzQzLjgiTiAxMDDCsDQ2JzMwLjkiRQ!5e0!3m2!1sen!2sth!4v1637289196037!5m2!1sen!2sth" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </div>
    </footer>

      <!-- Core JavaScript  -->
    <!-- ================= script header ============================ -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        const searchBox = document.querySelector(".search-box");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const searchInput = document.querySelector("input");
const searchData = document.querySelector(".search-data");
searchBtn.onclick =()=>{
searchBox.classList.add("active");
searchBtn.classList.add("active");
searchInput.classList.add("active");
cancelBtn.classList.add("active");
searchInput.focus();
if(searchInput.value != ""){
var values = searchInput.value;
searchData.classList.remove("active");
searchData.innerHTML = "You just typed " + "<span style='font-weight: 500;'>" + values + "</span>";
}else{
searchData.textContent = "";
}
}
cancelBtn.onclick =()=>{
searchBox.classList.remove("active");
searchBtn.classList.remove("active");
searchInput.classList.remove("active");
cancelBtn.classList.remove("active");
searchData.classList.toggle("active");
searchInput.value = "";
}
    </script>

    <!-- ================= script footer ============================ -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="js/popper.min.js"></script>

    <!-- ================= script เนื้อหา ============================ -->
    
</body>
</html>