<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Ecommerce</title>    

    <!-- ================================ header ========================================================= -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">
    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">
    <!-- Version Tech CSS for this template -->
    <link href="css/TopHeader.css" rel="stylesheet"> 
    <link rel="stylesheet" href="css/search1.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"> 
    
    <!-- ================================ footer ========================================================= -->
    <!-- Required meta tags -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/styleFooter.css">
   
    <!-- ================================= contant ====================================== -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
    .w3-bar-block .w3-bar-item {padding:20px}
    </style>
</head>

<body>
        <!-- ================= header ============================ -->
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
                   
                    <!-- ปุ่มย่อ -->
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- กด logo icon = รูปไอคอน -->
                    <a class="navbar-brand" href="home.html"><img src="images/logo.png" alt="" width="85px"></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <ul class="navbar-nav mr-auto">
                            
                        <div class="search-box">
                            <input type="text" placeholder="Type to search..">
                            <div class="search-icon">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="cancel-icon">
                                <i class="fas fa-times"></i>
                            </div>
                            <div class="search-data">
                            </div>
                        </div>

                            <li class="nav-item dropdown">
                                <!-- {% if request.user.is_authenticated and request.user.first_name %} -->
                                  <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown">
                                    <!-- Welcome, {{ request.user.first_name }} -->
                                    <i class="fas fa-user circle"></i>
                                  </a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="orderHistory.html">ประวัติการสั่งซื้อ</a>
                                  </div>
                                </li>
                        

                            <li class="nav-item">
                                <a class="nav-link" id="image-cart" href="cartDetails.html"><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </li>

                            <li class="nav-item">
                                <!-- ลิ้งค์ไปอีกเว็บ -->
                                <a class="nav-link text-light" href="home.html">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a  class="nav-link text-light dropdown-toggle"
                                href="" data-toggle="dropdown">Menu</a>
                                <ul class="dropdown-menu">
                                  <li><a href="menu.html" class="dropdown-item">เมนูแนะนำ</a></li>
                                  <li><a href="menu2.html" class="dropdown-item">สเต็กเนื้อ</a></li>
                                  <li><a href="menu3.html" class="dropdown-item">สเต็กไก่</a></li>
                                  <li><a href="menu4.html" class="dropdown-item">สเต็กหมู</a></li>
                                  <li><a href="menu5.html" class="dropdown-item">สเต็กปลา</a></li>
                                  <li><a href="menu6.html" class="dropdown-item">เมนูทานเล่น</a></li>
                                  <li><a href="menu7.html" class="dropdown-item">ไอศกรีม</a></li>
                                  <li><a href="menu8.html" class="dropdown-item">เครื่องดื่ม</a></li>
                                </ul>
                            </li>

                              <!-- {% else %} -->
                              <li class="nav-item">
                                <a class="nav-link text-light" href="register.html">register<i class="fas fa-user-plus"></i>
                                </a>
                              </li>
                      
                              <li class="nav-item">
                                <a class="nav-link text-light" href="login.html">login<i class="fas fa-sign-in-alt"></i>
                                </a>
                              </li>

                              
                            <li class="nav-item">
                              <a class="nav-link text-light" href="{% url 'signOut' %}">logout<i class="fas fa-sign-out-alt"></i>
                              </a>
                            </li>
                            
                        </ul>
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
    </div>

        <!-- ================= เนื้อหา ============================ -->
        <div class = "container">
          {% block content %}
          <section>
               <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    
      <!-- First Photo Grid-->
      <div class="w3-row-padding w3-padding-16 w3-center" id="food">
        <div class="w3-quarter">
          <img src="images/menu/m71.jpg" alt="Sandwich" style="width:100%">
          <h4>วานิลลา</h4>
          <p>29฿</p>
          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">เพิ่มลงตระกร้า</a>
        </div>
        <div class="w3-quarter">
          <img src="images/menu/m72.jpg" alt="Steak" style="width:100%">
          <h4>โกโก้</h4>
          <p>29฿</p>
          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">เพิ่มลงตระกร้า</a>
        </div>
        <div class="w3-quarter">
          <img src="images/menu/m73.jpg" alt="Cherries" style="width:100%">
          <h4>ชาเขียว</h4>
          <p>29฿</p>
          <a href="#" class="w3-bar-item w3-button w3-hover-yellow">เพิ่มลงตระกร้า</a>
        </div>
      </div>
    
      <!-- Pagination -->
      <div class="w3-center w3-padding-32">
        <div class="w3-bar">
          <a href="menu.html" class="w3-bar-item w3-button w3-hover-black">«</a>
          <a href="menu.html" class="w3-bar-item w3-button w3-hover-black">1</a>
          <a href="menu2.html" class="w3-bar-item w3-button w3-hover-black">2</a>
          <a href="menu3.html" class="w3-bar-item w3-button w3-hover-black">3</a>
          <a href="menu4.html" class="w3-bar-item w3-button w3-hover-black">4</a>
          <a href="menu5.html" class="w3-bar-item w3-button w3-hover-black">5</a>
          <a href="menu6.html" class="w3-bar-item w3-button w3-hover-black">6</a>
          <a href="menu7.html" class="w3-bar-item w3-black w3-button">7</a>
          <a href="menu8.html" class="w3-bar-item w3-button w3-hover-black">8</a>
          <a href="menu8.html" class="w3-bar-item w3-button w3-hover-black">»</a>
        </div>
      </div>
      
      <hr id="about">
    
      <!-- About Section -->
      <!-- <div class="w3-container w3-padding-32 w3-center">  
          <h3>About Me, The Food Man</h3><br>
          <img src="/w3images/chef.jpg" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
          <div class="w3-padding-32">
            <h4><b>I am Who I Am!</b></h4>
            <h6><i>With Passion For Real, Good Food</i></h6>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          </div>
        </div> -->
      <hr>
      
      <!-- Footer -->
      <!-- <footer class="w3-row-padding w3-padding-32">
        <div class="w3-third">
          <h3>FOOTER</h3>
          <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
          <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>
      
        <div class="w3-third">
          <h3>BLOG POSTS</h3>
          <ul class="w3-ul w3-hoverable">
            <li class="w3-padding-16">
              <img src="/w3images/workshop.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Lorem</span><br>
              <span>Sed mattis nunc</span>
            </li>
            <li class="w3-padding-16">
              <img src="/w3images/gondol.jpg" class="w3-left w3-margin-right" style="width:50px">
              <span class="w3-large">Ipsum</span><br>
              <span>Praes tinci sed</span>
            </li> 
          </ul>
        </div>
    
        <div class="w3-third w3-serif">
          <h3>POPULAR TAGS</h3>
          <p>
            <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
            <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
          </p>
        </div>
      </footer> -->
    
    <!-- End page content -->
    </div>
          </section>
          {% endblock %}
      </div>

    <!-- ================= footer ============================ -->
    
    <footer class="footer-32892 pb-0">
        <div class="site-section">
          <div class="container">
  
            
            <div class="row">
  
              <div class="col-md pr-md-5 mb-4 mb-md-0">
                <h3>Contract Us</h3>
                <ul class="list-unstyled quick-info mb-4">
                  <li ><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span>Phine No. : 03x-xxx-xx17</a></li>
                  <li ><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-envelope"></span>line : @RockWithU</a></li>
                </ul>
              </div>
      
  
  
              <div class="col-md mb-4 mb-md-0">
                <h3>Map</h3>
                <div class="">
                  <div class="Map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.820486948721!2d100.77404805088749!3d13.729315665126563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6ef572c9e67161d5!2zMTPCsDQzJzQzLjgiTiAxMDDCsDQ2JzMwLjkiRQ!5e0!3m2!1sen!2sth!4v1637289196037!5m2!1sen!2sth" width="300" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </div>
    </footer>

      <!-- Core JavaScript  -->
    <!-- ================= script header ============================ -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script>
        const searchBox = document.querySelector(".search-box");
const searchBtn = document.querySelector(".search-icon");
const cancelBtn = document.querySelector(".cancel-icon");
const searchInput = document.querySelector("input");
const searchData = document.querySelector(".search-data");
searchBtn.onclick =()=>{
searchBox.classList.add("active");
searchBtn.classList.add("active");
searchInput.classList.add("active");
cancelBtn.classList.add("active");
searchInput.focus();
if(searchInput.value != ""){
var values = searchInput.value;
searchData.classList.remove("active");
searchData.innerHTML = "You just typed " + "<span style='font-weight: 500;'>" + values + "</span>";
}else{
searchData.textContent = "";
}
}
cancelBtn.onclick =()=>{
searchBox.classList.remove("active");
searchBtn.classList.remove("active");
searchInput.classList.remove("active");
cancelBtn.classList.remove("active");
searchData.classList.toggle("active");
searchInput.value = "";
}
    </script>

    <!-- ================= script footer ============================ -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="js/popper.min.js"></script>

    <!-- ================= script เนื้อหา ============================ -->
    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
      }
       
      function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
      }
    </script>

</body>
</html>