<!DOCTYPE html>
<html lang="en">
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Ecommerce</title>    

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Site Icons -->
    <!-- <link rel="shortcut icon" href="MYWEB2/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="frontend/images/apple-touch-icon.png"> -->
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <!-- FontAwesome Icons core CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Responsive styles for this template -->
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="css/colors.css" rel="stylesheet">

    <!-- Version Tech CSS for this template -->
    <link href="css/TopHeader.css" rel="stylesheet"> 
    <link rel="stylesheet" href="css/search1.css">
    
    <!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">
        <!-- <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css"> -->
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="css/style_register.css">

</head>

<body>
    <div id="wrapper">
        <header class="tech-header header">
            <div class="container-fluid">
                <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                   
                    <!-- ปุ่มย่อ -->
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- กด logo icon = รูปไอคอน -->
                    <a class="navbar-brand" href="tech-index.html"><img src="images/logo.png" alt="" width="85px"></a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">

                        <form method="get" action="/search" id="search">
                            <input name="q" type="text" size="40" placeholder="Search..." />
                          </form>
                      
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item dropdown">
                                <!-- {% if request.user.is_authenticated and request.user.first_name %} -->
                                  <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown">
                                    <!-- Welcome, {{ request.user.first_name }} -->
                                    <i class="fas fa-user circle"></i>
                                  </a>
                                  <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'orderHistory' %}">ประวัติการสั่งซื้อ</a>
                                  </div>
                                </li>
                        

                            <li class="nav-item">
                                <a class="nav-link" id="image-cart" href="cartDetails.html"><i class="fa fa-shopping-cart fa-2x"></i></a>
                            </li>

                            <li class="nav-item">
                                <!-- ลิ้งค์ไปอีกเว็บ -->
                                <a class="nav-link text-light" href="index.html">Home</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a  class="nav-link text-light dropdown-toggle"
                                href="menu.html" data-toggle="dropdown">Menu</a>
                                <ul class="dropdown-menu">
                                    <li><a href="menu.html" class="dropdown-item">เมนูแนะนำ</a></li>
                                    <li><a href="menu2.html" class="dropdown-item">สเต็กเนื้อ</a></li>
                                    <li><a href="menu3.html" class="dropdown-item">สเต็กไก่</a></li>
                                    <li><a href="menu4.html" class="dropdown-item">สเต็กหมู</a></li>
                                    <li><a href="menu5.html" class="dropdown-item">สเต็กปลา</a></li>
                                    <li><a href="menu6.html" class="dropdown-item">เมนูทานเล่น</a></li>
                                    <li><a href="menu7.html" class="dropdown-item">ไอศกรีม</a></li>
                                    <li><a href="menu8.html" class="dropdown-item">เครื่องดื่ม</a></li>
                                </ul>
                            </li>
                      
                              <!-- {% else %} -->
                              <li class="nav-item">
                                <a class="nav-link text-light" href="register.html">register<i class="fas fa-user-plus"></i>
                                </a>
                              </li>
                      
                              <li class="nav-item">
                                <a class="nav-link text-light" href="login.html">login<i class="fas fa-sign-in-alt"></i>
                                </a>
                              </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" href="{% url 'signOut' %}">logout<i class="fas fa-sign-out-alt"></i>
                                </a>
                              </li>

                              <li class="nav-item">
                                <a class="nav-link" href="#">Contact Us</a>
                            </li>
                            
                        </ul>

                        <!-- รูปcontract -->
                        <ul class="navbar-nav mr-2">
                            <!-- wifi icon -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-rss"></i></a>
                            </li> -->
                            <!-- andriod icon -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-android"></i></a>
                            </li> -->

                            <!-- apple icon -->
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#"><i class="fa fa-apple"></i></a>
                            </li> -->

                        </ul>
                        
                    </div>
                </nav>
            </div><!-- end container-fluid -->
        </header><!-- end market-header -->
    </div>
    <!-- #####################################เนื้อหาแต่ละ section ############################################################-->

    <div class = "container">
        {% block content %}
        <section>
            <div id="wrapper" style="background-image: url('images/BG_login.png');">
                <div class="inner" >
                    <form action="" class="register">
    
                        <h3>Register</h3>
                        
                        <div class="form-group">
                            <div class="form-wrapper">
                                <label for="">First name:</label>
                                <div class="form-holder">
                                    <i class="zmdi zmdi-account-o"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
    
                            
                            <div class="form-wrapper">
                                <label for="">Last name:</label>
                                <div class="form-holder">
                                    <i class="zmdi zmdi-account-o"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="form-wrapper">
                                <label for="">Email:</label>
                                <div class="form-holder">
                                    <i style="font-style: normal; font-size: 15px;">@</i>
                                    <input type="password" class="form-control" >
                                </div>
                            </div>
                            
                            <div class="form-wrapper">
                                <label for="">Password:</label>
                                <div class="form-holder">
                                    <i class="zmdi zmdi-lock-outline"></i>
                                    <input type="password" class="form-control" placeholder="********">
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <div class="form-wrapper">
                                <label for="">Username:</label>
                                <div class="form-holder">
                                    <i class="zmdi zmdi-account-o"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-wrapper">
                                <label for="">Phone No:</label>
                                <div class="form-holder">
                                    <i class="zmdi zmdi-phone-in-talk"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
    
                        <div class="form-end">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            
                            <div class="button-holder">
                                <button class="Register-btn">Register Now</button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            
           
        </section>
        {% endblock %}
    </div>

    
    <!-- Core JavaScript
    ================================================== -->
    <script src="js/jquery.min.js"></script>
    <script src="js/tether.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>